<section class="teal center custom">
  <div class="row">
    <div class="col s12 m6">
      <div class="card">
        <div class="card-content teal-text center light">
            <h5 class="card-title">All Orders</h5>
              <% @showings.each do |showing| %>
                <% showing.orders.each do |order| %>
                  <%= link_to showing_order_path(showing, order) do %>
                    <div class="card-action">Order #<%= order.id%></p></div>
                  <% end %>
                <% end %>
              <% end %>
        </div>
      </div>
    </div>
  </div>
  <%= link_to 'Back to Movies', movies_path, class: "orange-text center" %>

</section>