<body class="teal center">
  <div class="row">
    <div class="col s12 m6">
      <div class="card custom-card">
        <div class="card-content teal-text center light">
            <h5 class="card-title">Auditorium <%= @auditorium.name %></h5>
            <h6>Movies playing</h6>
            <% @movies.each do |movie| %>
              <%= link_to (movie) do %>
                <div class="card-action"><%= movie.title %></div>
              <% end %>
            <% end %>
        </div>
      </div>
    </div>
  </div>

  <%= link_to 'Back to Auditorium List', auditoria_path, class: "orange-text" %>

</body>